body {
    text-align: center;
    vertical-align: middle;
}
div{
    margin:60px;
    width:800px;
    text-align: center;
}

div fieldset {
    text-align: left;
}

.msg {
    display:none;
    font-size: 16px;
}

.icon {
    height:16px;
    /* width:inherit; */
}

input:focus {
    border: 3px solid red;
}

input:hover {
    border: 1px solid red;
}