@charset "UTF-8";
* {
	border: 1px thick red;
}
table, tr, th, td {
	border: 1px solid blue;
}

th {
	background-color: rgba(57, 138, 192, 0.32)
}

span.hint {
	color:red;
}

header div.float {
	top: 0px;
	left: 0px;
	display: block;
	position: fixed;
/* 	z-index: 9; */
	width: 90px;
	text-align: center;
	background-color: rgba(0,255,0,0.80);
	color: black;
}

header div.float:hover {
	background-color: rgba(255,255,0,1);
	color: white;
}


footer div.float {
	bottom: 0px;
	right: 0px;
	display: block;
	position: fixed;
	z-index: 9;
	width: 90px;
	text-align: center;
	background-color: rgba(0,255,0,0.80);
}

footer div.float:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
	cursor: pointerß;
}


footer {
	color: grey;
}